.st01 {
  background-color: rgb(36, 41, 47);
}

.logo {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainLogo {
  font-size: 27px;
  font-style: italic;
  color: rgb(179, 187, 197);
  margin: 0%;
}

.subLogo {
  color: rgb(179, 187, 197);
  margin: 0%;

}

@keyframes blink {

  0%,
  49%,
  100% {
    opacity: 0;
  }

  50%,
  99% {
    opacity: 1;
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.blinkingText {
  /* animation: blink 2s infinite; */
  /* 2초 동안 깜빡이는 애니메이션 */
}

.movingText {
  animation: moveLeft 20s linear infinite;
  /* 5초 동안 왼쪽으로 움직이는 애니메이션 */
  color: dodgerblue;
  border-color: dodgerblue;
  display: flex;
}